<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="mybatis/config.properties">
    </properties>
    <!--是否开启二级缓存 全局的-->
    <!--<settings>-->
        <!--<setting name="cacheEnable" value="false"/>-->
    <!--</settings>-->
    
    <plugins>
        <plugin interceptor="com.jsen.blog.study.mybatis.plugin.ExamplePlugin">
            <property name="someProperty" value="100"/>
        </plugin>
    </plugins>
    
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="com.jsen.blog.study.mybatis.MyDefineDataSourceFactory">
                <property name="driverClassName" value="${jsen.jdbc.driver}"/>
                <property name="url" value="${jsen.jdbc.url}"/>
                <property name="username" value="${jsen.jdbc.username}"/>
                <property name="password" value="${jsen.jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/mapper/SysUserDaoMapper.xml"/>
    </mappers>
</configuration>